<h3>Nueva Reserva</h3>
<p>
Nombre: <%= @reservation.name %> <br>
Email: <%= @reservation.email %><br>
Telefono: <%= @reservation.phone %><br>
Desde: <%= @to.name %><br>
Hasta: <%= @from.name %><br>
Fecha: <%= @reservation.date %><br>
Hora: <%= @reservation.time %><br>
Pasajeros: <%= @reservation.adults %><br>
Mensaje: <%= @reservation.message %><br>
</p>
