<h3>Nueva Reserva</h3>
<p>
Nombre: <%= @reservation.name %> <br>
Email: <%= @reservation.email %><br>
Telefono: <%= @reservation.phone %><br>
Desde: <%= @reservation.from %><br>
Hasta: <%= @reservation.to %><br>
Fecha: <%= @reservation.date %><br>
Hora: <%= @reservation.time %><br>
Pasajeros: <%= @reservation.adults %><br>
Mensage: <%= @reservation.message %><br>
</p>
