<h3>Nueva Reserva</h3>
<h5>Nombre: <%= @reservation.name %></h5>
<h5>Email: <%= @reservation.email %></h5>
<h5>Telefono: <%= @reservation.phone %></h5>
<h5>Desde: <%= @reservation.from %></h5>
<h5>Hasta: <%= @reservation.to %></h5>
<h5>Fecha: <%= @reservation.date %></h5>
<h5>Hora: <%= @reservation.time %></h5>
<h5>Adultos: <%= @reservation.adults %></h5>
<h5>Niños: <%= @reservation.children %></h5>
<h5>Mensage: <%= @reservation.message %></h5>
