
<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Nombre" %>
    <%= f.input :email, :label => "Correo" %>
    <%= f.input :phone, :label => "Celular" %>
    <%= f.input :from, :label => "Desde", collection: @destinations %>
    <%= f.input :to, :label => "Hacia", collection: @destinations %>
    <%= f.input :date, :label => "Fecha" %>
    <%= f.input :time, :label => "Hora" %>
    <%= f.input :adults, :label => "Pasajeros", collection: 1..5 %>
    <%= f.input :message %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn btn-aero" %>
  </div>
<% end %>
