
<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :from, :collection => %w[Albrook Bocas\ Del\ Toro Changuinola David Howards Jaque La\ Palma Panama\ City Rio\ Hato Santiago   ] %>
    <%= f.input :to, :collection => %w[Albrook Bocas\ Del\ Toro Changuinola David Howards Jaque La\ Palma Panama\ City Rio\ Hato Santiago   ] %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :adults %>
    <%= f.input :children %>
    <%= f.input :message %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn btn-aero" %>
  </div>
<% end %>
