<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reservation.phone %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @reservation.time %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @reservation.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @reservation.children %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reservation.message %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
