<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FlyAerorental</title>
  <meta name="description" content="Nos mueve la pasión por la aviación y el compromiso por ofrecer soluciones de conectividad personalizadas y de alta calidad. Ofrecemos vuelos charters, vuelos fotográficos y vuelos de carga a más de 30 destinos en el territorio nacional, para hacer de sus vuelos de negocios, de aventura y de descanso una realidad.">
  <meta name="keywords" content="FlyAerorental, Aerorental, aerorental, fly aerorental, Vuelos privados en Panamá, vuelos privados, vuelos en panama, charter, aviación panama, aviación, vuelos fotográficos, vuelos charters, vuelos de carga.  ">
  <meta property=”og:title” content=”FlyAerorental”/>
  <%= favicon_link_tag asset_path('ARLOGO1.png') %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body class="Site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <main class="Site-content">
    <div class="content">

      <%= yield %>
    </div>
  </main>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>

  <%= javascript_pack_tag 'application' %>
</body>
</html>
